@font-face {
  font-family: 'Monserrat';
  src:
    local('Monserrat'),
    url(/fonts/Montserrat-Regular.ttf) format('truetype');
}

body {
  font-family: 'Monserrat', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
